<h2>Make an appointment</h2>
<p>You can make an appointment on this webpage</p>

<form action="/visit" method="POST" role="form">
  
    <div class="form-group">
      <label>Your name</label>
      <input name="username" type="text" class="form-control" placeholder="Your name">
    </div>

    <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Your phone">
    </div>

    <div class="form-group">
      <label>Your date</label>
      <input name="date" type="text" class="form-control" placeholder="Your date">
    </div>

    <div class="form-group">
      <label>Your time</label>
      <input name="time" type="text" class="form-control" placeholder="Your time">
    </div>
    
    <div class="form-group">
      <select name="fcker">
        <option value="none" selected>Choose your personal assfcker ...</option>
        <option value="Big Joe">Big Joe</option>
        <option value="Tricky Ricky">Tricky Ricky</option>
        <option value="Sissy Pososi">Sissy Pososi</option>
      </select>
    </div>
  
    <button class="btn btn-primary" type="submit">Submit</button>
</form>